:root {
    --top-light: #F5F5F5;
    --top-text-light: #2B283A;
    --item-button-border-light: #D5D4D8;
    --solid-text-light: #4A4E74;
    --grey-text-light: #918E9B;
    --invoice-button-light: #3770ED;
    --background-dark: #1F2937;
    --invoice-button-dark: #3A69D2;
    --item-button-dark: #D1D4F4;
    --item-button-text-dark: #4A4E74;
    --solid-text-dark: #F5F5F5;
    --grey-text-dark: #D5D4D8;
    --page-break: #C3C6DB;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-dark);
    font-family: 'Inter', sans-serif;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: var(--invoice-button-dark);
    padding: 40px;
    text-align: center;
}

header h1 {
    font-weight: 800;
    font-size: 40px;
    
    text-align: center;
    
    margin: 30px 0 0;;
}

header h4 {
    font-weight: normal;
    font-size: 16px;
    
    margin: 20px 0 0;
}

header p {
    font-size: 12px;
    
    margin: 10px 0 0;
    
}

#grid-div {
    max-width: 700px;

    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(4, auto);
}

#services-div {
    grid-column: 3 / 15;
    grid-row: 1 / 2;
    padding: 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(1fr, 45px));
    grid-gap: 30px;
}

.service-button {
    padding: 15px 5px;
    width: 200px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;



    color: #4A4E74;

    background: #D1D4F4;
    border: 1px solid #D5D4D8;
    box-sizing: border-box;
    border-radius: 7px;
}

.service-button:hover {
    cursor: pointer;
}

#tasks-title-div {
    grid-column: 3 / 15;
    grid-row: 2 / 3;
    
    display: grid;
    align-items: center;
}

#task-title {
}

#total-title {
    text-align: right;
}

#tasks-div {
    grid-column: 3 / 15;
    grid-row: 3 / 4;
    min-height: 100px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);

    padding: 0 0 15px 0;

    border-bottom: 1px solid var(--page-break);
}

.added-task-div {
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
}

.added-task-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    color: var(--solid-text-dark);
}

.added-task-remove {
    font-size: 8px;
    line-height: 20px;

    color: var(--grey-text-dark);

    margin-left: 20px;
}

.added-task-remove:hover {
    cursor: pointer;
}

.dollar {
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    
    color: var(--grey-text-light);

    margin-left: auto;
}

.price {
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;

    color: var(--solid-text-dark);
}

.body-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    
    color: var(--grey-text-dark);
}

#notes-total-div {
    grid-column: 3 / 15;
    grid-row: 3 / 4;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: .65fr 2fr auto 1fr;
    grid-row-gap: 10px;

    margin: 20px 0 0;
    
    /* border: 1px solid red; */
}

#notes-title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    height: 20px;
    margin: 0;
    
    /* border: 1px solid green; */
}

#notes {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    margin: 0;
    max-width: 100%;
    
    font-size: 12px;
    line-height: 15px;
    
    color: var(--solid-text-dark);

    overflow-wrap: break-word;
    /* border: 1px solid red; */
}

#total-title {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    height: 20px;
    
    margin: 0;
    
    /* border: 1px solid green; */
}

#amount {
    min-height: 0px;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    font-weight: 600;
    font-size: 36px;
    
    margin: 0;

    /* border: 1px solid red; */
}

#notes-input {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    border: none;
}

.align-right {
    text-align: right;
}

#invoice-button {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    height: 45px;

    background-color: var(--invoice-button-dark);

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;

    margin: 10px 0 0;
}

.fa-envelope {
    margin-right: 10px;
}

textarea {
    border: none;
    overflow: visible;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    border-radius: 5px;
    padding: 2px 5px;
}

ul {
    list-style: none;
}